<!DOCTYPE html>
<html>

<head>
<title>Success</title>

<style>

body{
background:#e8edf5;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{
background:white;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0px 0px 20px lightgray;
}

h1{
color:green;
}

a{
text-decoration:none;
background:#4d88ff;
color:white;
padding:12px 20px;
border-radius:10px;
}

</style>
</head>

<body>

<div class="box">

<h1>✅ Registration Successful</h1>

<p>Student registered successfully!</p>

<br>

<a href="/register/">Back</a>

</div>

</body>

</html>